In [1]:
%matplotlib inline

In [2]:
%matplotlib inline
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
# Load in csv
pyber_ride_df = pd.read_csv("Resources/PyBer_ride_data.csv")
pyber_ride_df

   Month,Avg. Fare ($USD)
0               Jan,10.02
1               Feb,23.24
2                Mar,39.2
3             April,35.42
4               May,32.34
5              June,27.04
6              July,43.82
7               Aug,10.56
8              Sept,11.85
9                Oct,27.9
10              Nov,20.71
11              Dec,20.09